# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
dist-ssr/

# Environment
.env*.local
.env

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Vue
*.local

# TypeScript
*.tsbuildinfo
